.page
    h1.center A Simple JavaScript Calculator
    .calculator
        input.result(type="text", name="name", value="", disabled='true')
        .row
            .button#btn7 7 
            .button#btn8 8
            .button#btn9 9
            .button#btnplus + 
        .row
            .button#btn4 4 
            .button#btn5 5
            .button#btn6 6
            .button#btnminus -
        .row
            .button#btn1 1 
            .button#btn2 2
            .button#btn3 3
            .button#btnmultiply X
        .row
            .button#btn0 0
            .button#btnpoint .
            .button#btnequal =
            .button#btndevide /
