extends layout

block content
    #loader-wrapper
        #loader
        |     
        .loader-section.section-left
        |     
        .loader-section.section-right
    |   

    |   
    #about-me-page
        a(name='about-me')
        |     
        .profile-img
            img(src='/images/portfolio.svg', alt='Harry Gill')
        |     
        h1.center.heading-text Harry Gill
        |     
        p.description-text.text-justify
            | Full stack web developer. Love creating software and websites mostly for pleasure and sometimes as work. Have experiance in
            strong  C++(QT5), Vala(GTK+), 
            |  and
            |       
            strong  C 
            | desktop and CLI applications. Currently 
            a(href='http://freecodecamp.com/', target='_blank') learning
            |       
            strong  Nodejs, React, visjs
            |  etc. and also doing CS degree at UoPeople.

    link(href='https://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:700', rel='stylesheet', type='text/css')
    //- // Piwik
    //- script(type='text/javascript').
    //-     var _paq = _paq || [];
    //-     _paq.push(['trackPageView']);
    //-     _paq.push(['enableLinkTracking']);
    //-     (function() {
    //-     var u = "//piwik.mygnu.org/";
    //-     _paq.push(['setTrackerUrl', u + 'piwik.php']);
    //-     _paq.push(['setSiteId', 4]);
    //-     var d = document,
    //-     g = d.createElement('script'),
    //-     s = d.getElementsByTagName('script')[0];
    //-     g.type = 'text/javascript';
    //-     g.async = true;
    //-     g.defer = true;
    //-     g.src = u + 'piwik.js';
    //-     s.parentNode.insertBefore(g, s);
    //-     })();
    //- 
    //- noscript
    //-     p
    //-         img(src='//piwik.mygnu.org/piwik.php?idsite=4', style='border:0;', alt='')
    //- // End Piwik Code
