doctype html
html(lang='eng-us')
    head
        title= title
        meta(name='description', content='mygnu portfolio')

        meta(charset='utf-8')

        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(name='viewport', content='width=device-width, initial-scale=1')

        meta(name='author', content='Harry Gill, mygnu')

        link(rel='stylesheet', href='/css/app.css')

        block localstyles


    body.wrapper
        .navigation-div
            .icon
                a.tooltip(href='/', data-tip='Home')
                    img.shadowed(src='/images/home.svg', alt='', width='50', height='40')
            .icon
                a.tooltip(href='/myworks', data-tip='My Works')
                    img.shadowed(src='/images/works.svg', alt='', width='55', height='40')

        .social-div
            .icon
                a.tooltip(href='#', data-tip='Blog')
                    img.shadowed(src='/images/blog.svg', alt='', width='50', height='40')
            .icon
                a.tooltip(href='https://twitter.com/mygnu_', data-tip='Twitter')
                    img.shadowed(src='/images/twitter.svg', alt='', width='50', height='40')
            |     
            .icon
                a.tooltip(href='https://gitlab.com/u/mygnu', data-tip='Gitlab')
                    img.shadowed(src='/images/git.svg', alt='', width='50', height='40')
            |     
        block content

        footer.center
            .footnote
                | created with 
                span.heart.pulse
                    | ♥
        script(language='javascript', src='js/app.js')
        block localscrpts
