.calculator {
  width: 400px;
  height: 450px;
  margin: 50px auto;
  border: 2px solid black;
  padding: 10px;
  padding-bottom: 20px;
  background-color: silver;
  border-radius: 10px;
}

.result {
  display: block;
  margin: 30px auto;
  margin-bottom: 50px;
  background: rgba(90, 185, 85, 0.61);
  height: 3em;
  width: 350px;
  border-radius: 2px;
}

.row {
  display: block;
  width: 100%;
  padding: 15px auto;
  /*padding-left: 20px;*/
  margin: 20px auto;
  /*position: relative;*/
}

.button {
  margin: 10px 10px;
  width: 50px;
  float: left;
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 12px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  color: white;
  font-size: 17px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}

.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
