 body {
   background-color: rgba(34, 153, 221, 0.7);
   /*margin-top: -25px;*/
   /*background-color: rgba(227, 113, 81, 0.68);*/
   /*background-color: rgba(236, 240, 241, 1.0);*/
   padding-top: 20px;
 }
.page {
    min-height: 96vh;
    width: 100%;
}
 .wrapper {
   min-height: 98vh;
   font-size: 20px;
   /*min-height: 100%;*/
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
 }

 a {
   /*text-decoration: none;*/
   color: inherit;
 }

 a.tooltip::before {
   content: attr(data-tip);
   font-size: 15px;
   position: absolute;
   bottom: -35px;
   z-index: 999;
   white-space: nowrap;
   background: #076ea8;
   color: #eee8e8;
   /*padding: 0px 7px;*/
   line-height: 24px;
   height: 24px;
   opacity: 0;
   -webkit-transition: opacity 0.4s ease-out;
   -moz-transition: opacity 0.4s ease-out;
   -ms-transition: opacity 0.4s ease-out;
   -o-transition: opacity 0.4s ease-out;
   transition: opacity 0.4s ease-out;
 }

 a.tooltip:hover::before {
   opacity: 1;
   bottom: -35px;
 }

 .social-div {
   position: fixed;
   top: 0;
   right: 0;
   margin: 10px;
 }

 .navigation-div {
   position: fixed;
   top: 0;
   left: 0;
   margin: 10px;
 }

 .icon {
   display: inline;
 }

 .icon a {
   text-decoration: none;
 }

 .shadowed {
   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
   filter: url(#drop-shadow);
   -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
   filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
 }

 .icon img {
   -webkit-transition: all 1s ease;
   /* Safari and Chrome */
   -moz-transition: all 1s ease;
   /* Firefox */
   -o-transition: all 1s ease;
   /* IE 9 */
   -ms-transition: all 1s ease;
   /* Opera */
   transition: all 1s ease;
 }

 .icon:hover img {
   -webkit-transform: scale(1.3);
   /* Safari and Chrome */
   -moz-transform: scale(1.3);
   /* Firefox */
   -ms-transform: scale(1.3);
   /* IE 9 */
   -o-transform: scale(1.3);
   /* Opera */
   transform: scale(1.3);
 }

 .profile-img img {
   display: block;
   margin-top: 3vh;
   margin-left: auto;
   margin-right: auto;
   max-width: 90vw;
   max-height: 75vh;
   z-index: 200;
 }

 .heading-text {
   margin-top: 1vh;
   margin-bottom: 1vh;
   /*font-family: 'Bangers', cursive;*/
   font-family: 'Josefin Slab', serif;
   font-size: 2.1em;
 }

 .description-text {
   font-family: 'Special Elite', cursive;
   font-size: 1.4em;
   line-height: 1.7;
   /*   margin: auto; */
   width: 1200px;
   max-width: 90vw;
   margin: auto;
   padding-left: 10px;
   padding-right: 10px;
   text-align: justify;
   /*text-shadow: 4px 4px 4px #aaa;*/
 }

 .center {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
 }

 footer {
   position: absolute;
   bottom: 0;
   height: 20px;
   padding-top: 5px;
 }

 .footnote {
   /*position: absolute;*/
   font-size: 1em;
   /*padding: 10px;*/
 }

 .heart {
   position: absolute;
   display: inline;
   color: rgba(180, 0, 0, 1);
   margin: 0;
 }

 .pulse {
   -webkit-animation: pulse 1s linear infinite;
   -moz-animation: pulse 1s linear infinite;
   -ms-animation: pulse 1s linear infinite;
   animation: pulse 1s linear infinite;
 }

 @keyframes pulse {
   0% {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
     -ms-transform: scale(1.1);
     transform: scale(1.1);
   }
   50% {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
   }
   100% {
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
   }
 }

 @-moz-keyframes pulse {
   0% {
     -moz-transform: scale(1.1);
     transform: scale(1.1);
   }
   50% {
     -moz-transform: scale(0.8);
     transform: scale(0.8);
   }
   100% {
     -moz-transform: scale(1);
     transform: scale(1);
   }
 }

 @-webkit-keyframes pulse {
   0% {
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
   }
   50% {
     -webkit-transform: scale(0.8);
     transform: scale(0.8);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }

 @-ms-keyframes pulse {
   0% {
     -ms-transform: scale(1.1);
     transform: scale(1.1);
   }
   50% {
     -ms-transform: scale(0.8);
     transform: scale(0.8);
   }
   100% {
     -ms-transform: scale(1);
     transform: scale(1);
   }
 }
